<div class="content">
    <div class="inner-content">
        <h2>Emitir Quadro/Informação</h2>

        <!-- BEGIN PRIMEIRO_FORM -->
        <div class="container">
            <form name="contas" method="get"  class="container form-horizontal" >
                <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 ">Mês</label>
                    <label for="inputEmail3" class="col-sm-7 ">Ano</label>
                    <div class="col-sm-3">
                        <select name="mes_ref" class="data_ref form-control " >
                            <!-- BEGIN EACH_MESREF -->
                            <option value="{MES}">{MESNOME}</option>
                            <!-- END EACH_MESREF -->
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select name="ano_ref" class="data_ref form-control" >
                            <!-- BEGIN EACH_ANOREF -->
                            <option value="{ANO}">{ANO}</option>
                            <!-- END EACH_ANOREF -->
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-7 ">Empresa</label>
                    <div class="col-sm-12">
                        <select name="emp_id" class="data_ref form-control" >
                            <!-- BEGIN EACH_EMP -->
                            <option value="{EMP_ID}" >{EMP}</option>
                            <!-- END EACH_EMP -->
                        </select>
                    </div>
                </div>
                <BR/>
                <input type="submit" value="Próximo" class="btn btn-primary"/>
            </form>
        </div>
        <!-- END PRIMEIRO_FORM -->



        <form name="rel_contas" method="get" action="pdf_notas.php?" >
            <!-- BEGIN TABELA -->
            <div class="simple-table notas" id="simple-table notas" >
                
              
                <h3>RELAÇÃO DE CONTAS <span class="mes" >{NMES_REF}</span> / <span class="ano" >{NANO_REF} </span></h3>
                <input type="text"  class="hide" id="mes" name="mes" value="{NMES_REF} " readonly>
                 <input type="text" class="hide" id="ano" name="ano" value="{NANO_REF}" readonly>
                  <input type="text" class="hide" id="emp_id" name="emp_id" value="{EMP_ID}" readonly>
               <!-- <label class="emp" >{NRAZAO} </label>-->
                 <span class="emp" >{NRAZAO} </span>
                <table class="borda-simples "  width="100%">
                    <tr>
                        <th width="3%" rowspan="2"><input type="checkbox" id="marcar-todos" name="marcar-todos" class="notas-select" /> <label for="tudo" ></label> </th>
                        <th width="5%" rowspan="2">{NTH_RGI}</th>
                        <th width="5%" rowspan="2">UNIDADE</th>
                        <th width="20%" rowspan="2">LOCALIDADE/IDENTIFICADOR</th>
                        <th width="7%" rowspan="2">VENCIMENTO</th>
                        <th width="7%" rowspan="2">LANÇAMENTO</th>
                        <th width="30%" rowspan="2">EMPRESA</th>
                        <!-- BEGIN CONSUMO -->
                        <th width="15%" rowspan="2">CONSUMO</th>
                        <!-- END CONSUMO -->
                        <th width="15%" rowspan="2">VALOR</th>
                    </tr>

                    <tbody>
                        <!-- BEGIN EACH_NO -->
                        <tr>	
                            <td align="center"><input type="checkbox" name="notas[]" value="{NID}" id="{LANCTO}" class="notas-select marcar"  title="{NVALOR}"/><label for="mantem-data_ref" ></label></td>
                           
                            <td align="center">{NNUMERO}</td>
                            <td align="center">{NUNIDADE}</td>
                            <td align="center">{NMUNICIPIO}</td>
                            <td align="center">{NVENCIMENTO}</td>
                            <td align="center">{LANCTO2}</td>
                            <td align="center">{NEMPRESA}</td>
                            <!-- BEGIN EACH_CONSUMO -->
                            <td align="center">{NCONSUMO}</td>
                            <!-- END EACH_CONSUMO -->
                            <td align="center"><input type="TEXT" name="{NINDICE}" value="{NVALOR}" hidden="">R$ {NVALOR_C}</td>
                        </tr>
                      
                        <!-- END EACH_NO -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" align="center"><h4><input type="checkbox" name="tem_atestado" value="1" id="notas_ref" class="notas-select marcar"  title="{NVALOR}"/> Tem Atestado </h4></td>
                            <td align="center"><!--{UCTOTAL}--></td>
                            <td colspan="3"><span class="div-extenso"></span></td>
                            <td  align="center"><h4>TOTAL GERAL SELECIONADO</h4></td>
                            <td align="center"><h4>R$ <span class="div-total">0,00</span></h4></td>
                        </tr>
                    </tfoot>
                </table>
                
                <div class="submitter">
                    <input type="button" value="Próximo" name="nextButton" class="btn btn-primary" />
                </div>
            </div>

            <!-- END TABELA -->

            
         
                
                <div class="container">    
                    <div class="info   ">
                        <h3>RELAÇÃO DE CONTAS {NMES_REF}/{NANO_REF}</h3>
                        

                        <div class="form-group col-sm-12">
                            <div class="col-md-offset-2 col-sm-2 text-right">
                                <select class="form-control " id="selec" name="selec">
                                    <option value="0">Processo</option>
                                    <option value="1">Autos</option>
                                </select>
                            </div>
                            <div class="col-sm-4 input_autos">
                                <input type="number" class="form-control" id="autos" name="autos" placeholder="Nº Autos/Processo"  ng-model="autos" min="0">
                            </div>
                        </div>

                       
                        
                        <!--<div class="form-group col-sm-12">
                            <label for="autos" class="col-sm-4 control-label text-right ">Autos: </label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="autos" name="autos" placeholder="Nº Autos"  ng-model="autos" min="0">
                            </div>
                        </div>-->
                        <div class="form-group col-sm-12 prov">
                            <label for="prov" class="col-sm-4 control-label text-right">Prov.: </label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control"  id="prov" name="prov" ng-model="prov" placeholder="Prov" min="0">
                            </div>
                        </div>
                       <!-- <div class="form-group col-sm-12">
                            <label for="ninfo" class="col-sm-4 control-label text-right">INFORMAÇÃO ADA </label>
                            <div class="col-sm-4">
                                <input type="text"class="form-control"  id="ninfo" name="ninfo" ng-model="ninfo" placeholder="Nº da informação">
                            </div>
                        </div>-->
                        
                        <div class="form-group col-sm-12">
                            <label for="ninfo" class="col-sm-4 control-label text-right">INFORMAÇÃO ADA </label>
                            <div class="col-sm-4">
                                <div class="row">
                                     <div class="col-xs-8">
                                        <input type="text" id="ninfo" name="ninfo" class="form-control" placeholder="Nº da informação">
                                    </div>
                                    <div class="col-xs-4">
                                       <!-- <input type="text" class="form-control" value="/2015">-->
                                       <strong>  <input class="form-control" id="info_ano" name="info_ano" type="text" placeholder="/2015" readonly></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group col-sm-12">
                            <label for="nfls" class="col-sm-4 control-label text-right">Planilhas de consumo: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  id="nfls" name="nfls" ng-model="nfls" placeholder="nº das fls">
                            </div>
                        </div>
                       <!-- <div class="form-group col-sm-12">
                            <label for="natestado" class="col-sm-4 control-label text-right"> Atestado de Pagamento  </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  id="natestado" name="natestado" ng-model="natestado" placeholder="Nº do atestado">
                            </div>
                        </div>-->
                       <div class="form-group col-sm-12">
                            <label for="natestado" class="col-sm-4 control-label text-right">Atestado de Pagamento </label>
                            <div class="col-sm-4">
                                <div class="row">
                                     <div class="col-xs-8">
                                        <input type="text" class="form-control"  id="natestado" name="natestado" placeholder="Nº do atestado">
                                    </div>
                                    <div class="col-xs-4">
                                       <!-- <input type="text" class="form-control" value="/2015">-->
                                       <strong>  <input class="form-control" id="atest_ano" name="atest_ano" type="text" placeholder="/2015" readonly></strong>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br/><br/><br/><br/>
                         <div class="submitter">
                    <input type="button" value="Voltar" name="prevButton" class="btn btn-primary" />
                    <a href="#" class="btn btn-primary next">Próximo <span aria-hidden="true">&rarr;</span></a>

                </div>

                        <!--<ul class="pager">
                            <li class="previous" id="previusTab"  ><a href="#"><span aria-hidden="true" >&larr;</span> Voltar</a></li>
                            <li class=" "><button class="btn btn-default" name="prevButton">Voltar</button></li>
                            <li class="next "><a href="#">Próximo <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>-->
                    </div>

                    <div class="tiny">
                           <div class="form-group infor">
                            <div class="col-sm-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><strong> <span class="glyphicon glyphicon-edit" ></span> Infomação</strong> </div>
                                    <div class="panel-body">
                                        <textarea id="texto_info" name="texto_info" class="tinyMCE" title="texto_info" >
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group atestado ">
                            <div class="col-sm-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><strong> <span class="glyphicon glyphicon-edit" ></span> Atestado</strong> </div>
                                    <div class="panel-body">
                                        <textarea id="texto_atest" name="texto_atest" class="tinyMCE" title="texto_atest" >
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                     

                        <ul class="pager">
                           <!-- <li class="previous" ><a href="#"><span aria-hidden="true" >&larr;</span> Voltar</a></li>
                            <li class=" "><a href="#">Próximo <span aria-hidden="true">&rarr;</span></a></li>-->
                           
                            <li class=" "><button class="btn btn-default" type="submit">Finalizar</button></li>
                        </ul>
                    </div>
                </div>
       
        </form>


        <!-- BEGIN PDF -->
        <H1> </H1>
        <!-- END PDF -->


    </div>





</div>
