/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/10/2015, 14:17:49
    Author     : gtnakano
*/

body{font-family: Arial;}
.menu-uc, .logout-menu{display:inline-block; font-weight: bold; float:left; width:15%; height:49px; font-size: 16px; text-decoration: none}
.menu-uc a,.logout-menu a{display:block; text-align: center; padding-top: 15px; text-decoration: none}
.menu-uc a:hover,.logout-menu a:hover{color: #fff; background: #47A3DA; height: 100%; text-decoration: none}
.menu-uc a:active,.menu-active{background: #47A3DA; color: #fff; height: 100%; text-decoration: none}
.conteudo{color: #fff;}
.conteudo h2{color:#afdefa; font-weight: lighter; font-size: 28px; margin: 0; padding: 0}
.rounded {
  border-radius: 7px;
  background: #fff; 
  color:#333;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }